* {
  margin: 0;
  padding: 0;
}

:root {
  --primary: #005a71;
  --secundary: #768690;
  --highlight: #cc5500;
  --hover: #007b92;
  --background: #fafafa;
  --text: #333333;
  --alert: #d32f2f;
}

body {
  background-color: var(--background);
}
